.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-container {
  display: block;
  align-items: baseline;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-address {
  font-style: inherit;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  margin-bottom: 20px;
  color: var(--accent-color);
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}

.footer-logo_white {
  color: var(--header-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-second-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-left {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.fotter-right {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
